.buffer {
	margin-top: 100px;
	text-align: center;
}

.process-title {
	display: inline-block;
	text-align: center;
	font-family: ailerons;
	font-size: 2.5em;
	line-height: 1em;
	padding: 30px;
	margin: 20px;
	color:white;
	background: #6ac39b; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #6ac39b 0%, #00a79d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #6ac39b 0%,#00a79d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #6ac39b 0%,#00a79d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ac39b', endColorstr='#00a79d',GradientType=1 ); 
}

.sub-title {
	display: inline-block;
	text-align: center;
	font-size: 2em;
	line-height: 1.2em;
	padding-top: 80px;
	margin-bottom: 5px;
	font-family: Ailerons;
	color: #4c4c4c;
}

.text-body {
	text-align: center;
	font-size: 1.5em;
	line-height: 1.2em;
	font-family: Didact Gothic;
	/*font-family: Raleway;*/
	color: #6C6E6E;
}

.ui.icon {

}