<html>
<head>
	<link rel="stylesheet" href="/css/footer.css">
</head>
<body>
	<div class="footer-menu">
		<a href="/">Home</a>
		<a href="/views/our_process.php">Our Process</a>
		<!-- <a href="">Blog</a> -->
	</div>
	<div class="social-btns-small">
		<a href="https://www.instagram.com/ryanbarsatan/" target="_blank"><i class="ui big instagram icon"></i></a>
		<a href="https://github.com/ryanbarsatan" target="_blank"><i class="ui big github icon"></i></a>
		<a href="https://twitter.com/ryanbarsatan" target="_blank"><i class="ui big twitter icon"></i></a>
		<a href="https://soundcloud.com/ryanbarsatan" target="_blank"><i class="ui big soundcloud icon"></i></a>
	</div>

	<div class="copyright-tm">
		<div class="fine-print">Honolulu Freelance Web Development | (808) 754-6839 | info@ryanbarsatan.com</div>
		<div class="fine-print">Ryan Barsatan &copy; 2017 ryanbarsatan.com. All rights reserved.</div>
		<div id="google_translate_element"></div>
	</div>

	<!-- contact-form -->
	<div class="contact-modal">
		<script>
			$(".contact-modal").load("/views/contact_form.php");
		</script>
	</div>
</body>
</html>